<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Sailocus</title>
</head>
<body>
     <div class="container">
    <h1>Python Sailocus Main Page</h1>
    <p>This is a simple Flask application demonstrating HTML templating that does stuff with a sail's Center of Effort (CoE).</p>
    <a href="sailocus/simple">Create a sail and get the Center of Effort (CoE)</a>
    <p></p>
    <a href=""https://github.com/pauldicarlo/PythonSailocus">Python Sailocus Github Project</a>
    </div>
 
</body>
</html>
