<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Enter 3 Coordinates</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <div class="container">
            <h1>Generate Your SVG</h1>

            <form method="POST">

                <div style="display: grid; grid-template-columns: auto 10px auto 20px auto 20px; 
                align-items: center; gap: 8px 15px; flex-wrap: wrap; font-family: sans-serif;">

                    <span style="white-space: nowrap;">Tack coordinates</span>
                    <label for="x3">X:</label>
                    <input type="text" id="tack_x" name="tack_x" placeholder="e.g. -5" value="{{ initial_value_tack_x }}" style="width:90px;" required>
                    <label for="y3">Y:</label>
                    <input type="text" id="tack_y" name="tack_y" placeholder="e.g. 8" value="{{ initial_value_tack_y }}" style="width:90px;" required>

                    <br>
                    <span style="white-space: nowrap;">Throat coordinates</span>
                    <label for="x2">X:</label>
                    <input type="text" id="throat_x" name="throat_x" placeholder="e.g. 20"
                        value="{{ initial_value_throat_x }}" style="width:90px;" required>
                    <label for="y2">Y:</label>
                    <input type="text" id="throat_y" name="throat_y" placeholder="e.g. 15.7"
                        value="{{ initial_value_throat_y }}" style="width:90px;" required>

                    <br>
                    <span style="white-space: nowrap;">Peak coordinates</span>
                    <label for="x1">X:</label>
                    <input type="text" id="peak_x" name="peak_x" value="{{ initial_value_peak_x }}" style="width:90px;" required>
                    <label for="y1">Y:</label>
                    <input type="text" id="peak_y" name="peak_y" value="{{ initial_value_peak_y }}" style="width:90px;" required>

                    <br>
                    <span style="white-space: nowrap;">Clew coordinates</span>
                    <label for="x4">X:</label>
                    <input type="text" id="clew_x" name="clew_x" placeholder="e.g. -5" value="{{ initial_value_clew_x }}" style="width:90px;" required>
                    <label for="y4">Y:</label>
                    <input type="text" id="clew_y" name="clew_y" placeholder="e.g. 8" value="{{ initial_value_clew_y }}" style="width:90px;" required>
                </div>

                <div style="text-align: center;">
                    <button type="submit">Submit Coordinates</button>
                </div>
            </form>

            {% if svg_content %}
            <h2>Generated SVG:</h2>
            <div>
                {{ svg_content | safe }}
            </div>
            {% endif %}
        </div>
    </body>
</html>